.react-tabs__tab-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  margin: 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.react-tabs__tab--selected, .react-tabs__tab:focus {
  border-color: rgba(255, 255, 255, 0.08);
  color: #6366f1;
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}